body {
  background-color: #131516;
  color: #d8d4cf;
}

p {
  margin: 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  background-color: hsl(200, 7%, 30%);
  border: 5px solid hsl(33, 0%, 50%);
}

.display {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: flex-end;
  border: 1px solid #131516;
}

.calc-content {
  display: flex;
  flex: 10;

}

.calc-numbers {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.calc-row1 {
  border-top: 1px solid #131516;
}

.calc-numbers > * {
  display: flex;
  flex: 1;
}

.num {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #131516;
  border: 1px solid hsl(200, 7%, 30%);
}

.num p {
  width: fit-content;
  height: fit-content;
}

.calc-operators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calc-operators > * {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #131516;
  border-right: 1px solid #131516;
  border-bottom: 1px solid #131516;
}

.clear {
  border-top: 1px solid #131516;
}

.equals {
  background-color: #004daa;
}