body {
  background-color: #131516;
  color: #d8d4cf;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  background-color: hsl(200, 7%, 30%);
  border: 5px solid hsl(33, 0%, 50%);
}

.display {
  display: flex;
  flex: 1;
}

.calc-content {
  display: flex;
  flex: 1;

}

.calc-numbers {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: flex-end;
}

.calc-numbers > * {
  display: flex;
  flex: 1;
}

.num {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #131516;
}

.num p {
  width: fit-content;
  height: fit-content;
}

.calc-operators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calc-operators > * {
  display: flex;
  justify-content: center;
}

.equals {
  background-color: #004daa;
}