body {
  background-color: #131516;
  color: #d8d4cf;
}

p {
  margin: 0px;
  font-size: x-large;
}

button {
  font-size: x-large;
  padding: 2rem;
  background-color: #131516;
  color: #d8d4cf;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  background-color: hsl(200, 7%, 30%);
  border: 1px solid #d8d4cf;
}

.display {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: flex-end;
  border-bottom: 1px solid #d8d4cf;
  background-color: #67cbdda9;
}

.display p {
  color: #131516;
}

.calc-content {
  display: flex;
  flex: 10;

}

.calc-numbers {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.calc-numbers > * {
  display: flex;
  flex: 1;
}

.num {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #131516;
}

.num p {
  width: fit-content;
  height: fit-content;
}

.calc-operators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calc-operators > * {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.equals {
  background-color: #004daa;
}